[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic-settings = "*"
argon2-cffi = "*"
bcrypt = "*"
motor = "*"
pydantic = "*"
fastapi = {extras = ["all"], version = "*"}

[dev-packages]
uvicorn = {extras = ["standard"], version = "*"}
pytest = "*"
mypy = "*"

[requires]
python_version = "3.11"
