[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic-settings = "*"
argon2-cffi = "*"
bcrypt = "*"
motor = "*"

[dev-packages]
uvicorn = {extras = ["standard"], version = "*"}
pytest = "*"

[requires]
python_version = "3.11"
